@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body {
  font-size: 2rem;
  font-family: "Roboto", sans-serif;
}
main {
  background-color: aqua;

}
/* p {
  background-color: lightgreen;
}
.opposite {
  display: inline-block;
  background-color: #333;
  color: whitesmoke;
  padding: 4rem;
  margin-top: 100px;
  height: 200px;
} */
ul {
   list-style-type: none;
   padding: 0.5rem;
   text-align: right;
   background-color: lightgray;
   margin: 0;
}
li {
  display: inline-block;
  margin-inline: .5rem;
}
li a {
  color: white;
  text-decoration: none;
}
li a:hover, a:focus {
  text-decoration: underline;
  
}